*.pyc
*.db
*.egg-info
.tox/*
./tmp
./build/*
.idea
env
venv
*.sublime*
celery_run.sh
run.sh
redis_run.sh
app_run.sh
dump.rdb
.tox/log/.lock
.tox/.package.lock
.tox/dist/UNKNOWN-0.0.0.zip
celery_flower.sh
.env
backup.sql
nginx.conf
./static/*
app/static/bclconvert_report_v0.02.html
app/static/MultiQC_lane1.html
app/static/MultiQC_lane1.html:Zone.Identifier
app/static/*
.coverage
tests/1__init__.py
aaa
facebook.ico
migration_docker_db.sh
static/*
celery_tmp/*
mysqlappdb/*
