
{% block footer %}

  <footer class="footer" style="height:30px;">
    <p/>
    {% if cookies_check() %}
      {# then user has already consented so no requirement for consent banner #}
    {% else %}
      <div id="cookie-consent-container" class="container-fluid bg-dark text-center fixed-bottom">
        <p class="text-white">By using this website, you consent to this website to use cookies.
        <button class="btn btn-info text-white" id="cookie-consent">I agree, dismiss this banner</button>
      </p>
      </div>
      <script>
        var fn = function () {
          var d = new Date();
          d.setTime(d.getTime() + (30*24*60*60*1000));
          var expires = "expires="+ d.toUTCString();
          document.cookie = "cookie_consent=true;"+expires+ ";path=/";
          document.getElementById('cookie-consent-container').hidden = true;
        };
        document.getElementById('cookie-consent').onclick = fn;
      </script>
      {% endif %}
      <div class="container-fluid bg-dark text-center fixed-bottom">
        <span class="text-muted text-white ">© 2022 Copyright: <a href="#" class="text-blue">IGF</a></span>
      </div>
  </footer>
{% endblock %}
