name: Create release and build docker image
on:
    push:
        tags:
            - 'v*'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: imperialgenomicsfacility/igfportal:"${GITHUB_REF#refs/tags/}"
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Explicit permission for this job
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Create GitHub release
        run: |
          # Use the actual tag name from the trigger
          TAG_NAME=${GITHUB_REF#refs/tags/}
          # checking for existing releases
          if ! gh release view "$TAG_NAME" >/dev/null 2>&1; then
            gh release create "$TAG_NAME" \
              --title "Release $TAG_NAME" \
              --generate-notes \
              ./releases/"$TAG_NAME"/*
          else
            # If release exists, just upload assets
            gh release upload "$TAG_NAME" ./releases/"$TAG_NAME"/* --clobber
          fi
